<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><%= @page_title ? "- #{@page_title}" : "" -%></title>
  <%= stylesheet_link_tag 'dashboard' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-1.4.3.min' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'jquery-dashboard' %>
  <script type="text/javascript" src="http://www.google.com/jsapi">
  </script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['imagechart']});
  </script>
  <%= javascript_include_tag 'aura-dashboard' %>
  <link rel="shortcut icon" href="/images/favicon.ico" />


</head>
<body>

<div id="container">
 <div id="header">

  <table
    <tr>
      <td align="left" valign="top">
	<%= render_meteor_widget(::Meteor::Widget::DhtmlMenu::Spec.new(
	    :name => "DataTables",
	:menu_items => [
        ["Mlr","/demo/charter?klass=Mlr"],
      ])) -%>
      </td>

    </tr>
	    <tr>
  <center>
    <%= image_tag("logo.png", :alt => "Edit") %>
  </center>
</tr>
  </table>

  <hr/>

 </div id="header">


  <div id="main">
    <div id="dashboard"></div>
    <%= yield :layout %>
  </div>

  <br/>
  <hr/>
  <table width=100% cellpadding=0 cellspacing=0 border=0>
    <tr>

     <td nowrap width=50% valign=top align=left rowspan=2>

  <center>
    <%= link_to "www.aura-software.com", "http://www.aura-software.com" -%>
    <br/>
    <font size="-2">
      Rendered <%= Time.new.to_s %>
    </font>
    <br/>
  </center>
</td>
  </tr>
</table>

</div>
</body>
</html>

